<div id="top-button-area">


</div>


<h1>Shop till you drop</h1>

<div align="right">

</div>


<% for product in @products -%>

	<div class="display">
	
		<%= image_tag(product.image_url) %>
		
	
		<h3><%=h product.label %></h3>
		
		<%= product.description %>
		
		<span class="price"><%= number_to_currency(product.price) %></span>
		
		<% form_remote_tag :url => { :action => 'add_to_basket', :id => product } do %>
		<%= submit_tag "Add Product" %>
		<% end %>
		
		
		
	</div>
	
<% end %>
