<p>
  <b>Name:</b>
  <%=h @business.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @business.address %>
</p>

<p>
  <b>Lat:</b>
  <%=h @business.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @business.lng %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
