<p>
  <b>Name:</b>
  <%=h @invoice.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @invoice.address %>
</p>

<p>
  <b>Email:</b>
  <%=h @invoice.email %>
</p>

<p>
  <b>Transaction type:</b>
  <%=h @invoice.transaction_type %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
